* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#52ac8a;
}

header{
    width: 90vh;
    margin: 10px auto;
    text-align: center;
}



button {
    background-color: #8b6eaa;
    color: white;
    margin: 2%;
    height: 40px;
    width: 15%;
    font-size: 1rem;
    border-radius: 7px;
}

.go-to-location {
    margin: 2% 2% 2% 0;
    width: 5%;
}

.get-location{
    height: 38px;
    width: 25%;
    text-align: center;
    background-color: rgb(209, 202, 202);
    color: white;
}

.copy-location {
    margin: 2% 2% 2% 20%;
    
}

.container{
    width: 90vw;
    min-height: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.weather-data{
    margin-left: 20px;
    border: 1px solid black;
}

.weather-data > h2{
    margin: 5px;
    margin-bottom: 12px;
}

h2 > span{
    color: #26429a;
}
